/* header */

.header{
	width: 100%;
	margin-left:0;
	margin-right:0;
	height: 70px;
	line-height: 70px;
	background-color:rgba(0,23,79,.9);
	position:absolute;
	top: 0;
	left: 0;
	z-index: 999;
	font-size: 20px;
	
}
.header-logo{
	color: #fff;
	float:left;
	margin-left: 30px;
	text-decoration:none;
	font-family: sans-serif;
}

.header .header-menu{
	float: right;
	margin-right: 30px;
}
.header .header-menu a{
	margin-right: 15px;
	color: #fff;
	text-decoration: none;
	font-family: "Source Sans Pro", "Arial", sans-serif;
}
	

.header .header-menu a:hover{
	color: #FF0000 ;
}

#search {
    border: 2px black solid;
    height: 2em;
    margin-right: 10px;
    width: 250px;
}

#button{
    background:white;
    border: 0px black solid;
    margin-left: -10px;
    margin-right: 10px;
    width: auto;
    height: 1.7em;
    cursor: pointer;
}

/* header */

/*menu*/

.menu a{
	text-decoration: none;
	color: #000;
	font-size: 20px;
	margin-top: 30px
	
}

.menu-logo{
	width: 100px;
}


.menu{
	margin-top: 75px
}

.clothes{
	font-size: 1.5em;
	font-family: Andale Mono, monospace;
}

/* menu */ 

/* clothes */

.products {
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
	
  }
  .products {
	display: flex;
	flex-wrap: wrap;
	
  }
  
  .product-card {
	padding: 2%;
	flex-grow: 1;
	flex-basis: 20%;
	border: 1px gray solid;
  }
  .product-card {
	  flex: 1 20%;
  }
	
	

	.product-image img {
		max-width: 100%;
	}

/* clothes */
